# =========================
# Build
# =========================
/target/
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDEs
# =========================
.idea/
*.iml
*.iws
*.ipr

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Env / Secrets
# =========================
.env
.env.*
application-local.yml
application-dev.yml

# =========================
# Arquivos sensíveis
# =========================
*.key
*.pem
*.p12

# =========================
# Test / cobertura
# =========================
/coverage/